#main-view {
    padding-top: 90px;
    text-align: center;
}

.avatar {
    display: inline-block;
    margin: 1em;
}

.field-error {
    border: 2px solid red;
}


.users-container {
   text-align: center;
}