@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

// body {
//     color: $main-text-color;
//     background-color: $main-bg-color;
//     background-image: url('~@/assets/images/gunmetal.jpg');

//     font-size: $main-font-size;
//     font-family: $main-font-family;
// }

.roku-header {
   background-color: #333;
   padding: 0.75em 1.5em;
   margin-bottom: 2em;

   span { 
        font-family: "Poppins", sans-serif;
        font-size: 3.5em;
        position: relative;
        top: -2px;
    }
}

