$main-text-color: white;
$main-bg-color: #333;
$main-font-size: 16px;
$main-font-family: arial, helvetica, 'sans-serif';



// .nav__btns{
//     display: inline-flex;
//     align-items: center;
//     column-gap: 1rem;
// }

